@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; }

body { /*alt som er definert innenfor body gjelder hele dokumentet*/
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; /*setter at hele dokumentet skal bruke fonten trebuchet*/
	color: #FFF; /*setter at all tekst skal være hvit*/
	background-color: #242424; /*setter bakgrunnsfarge for dokumentet*/
}

a {
	color: #000; 
	text-decoration: none;	/*setter at det ikke skal være noe dekorasjon på lenker*/
}

/* Navigasjon
-------------------------------------------------------------------*/

#header { /* Her definerer vi hvor menyen skal være */
	font-size: 18px;
	height: 100px;
	background: #80af11;
	line-height: 100px;
}

#header a { /*definerer at linker skal være hvite */
	color: #fff;
}

#header a#logo { /*definerer at logo skal være til venstre og ha størrelse 28 i font*/
	display: block;
	float: left;
	font-size: 28px;
}

#header ul#nav { /*definerer at menyen skal flyte til høyre*/
	float: right;
}

#header ul#nav li { /*definerer at liste ikke skal ha noen dekorasjon, at det skal være 15 pixler mellom hver link i menyen */
	list-style-type: none;
	display: inline-block;
	margin-left: 15px;
}

.wrapper {  /*setter at bredden skal være 950px uten margin*/
width: 950px; margin: 0 auto; 

}

.wrapper2 { /*setter at wrapper2 skal ha bredd på 540pixler og flyte til høyre*/
width: 540px; margin: 0 auto; float: right;

}

#login-form { /*definerer hvor formen inne i logginn boksen skal stå*/
margin-left:40px;
margin-top: 30px;

}

#login-box { /*definerer bakgrunnsbilde, størrelse og hvor det skal stå*/
background-image: url("../images/login-box.png");
float: left;
width: 369px;
height: 308px;
margin-top: 20px;

}

#logginn_header { /*setter at tekst headeren skal være 20 pixler fra toppen, størrelse font 20px, og at det skal være 10 pixler ned til neste element*/
margin-top:20px;
font-size:20px;
margin-bottom: 10px;

}
#green-login-button { /*definerer bilde med størrelse og hvor det skal stå*/
background-image: url("/images/login-green-button.png");
width: 69px;
height: 21px;
float: right; 
margin-right: 87px; 

}

#green-login-button:hover { /*setter hover over logg inn button*/
background-image: url("/images/login-green-button-hover.png");
float: right; 
margin-right: 87px; 
}

#registernow { /*definerer bilde med størrelse*/
background-image: url("../images/register-now.png");
width:164px;
height: 48px;
}

#registernow:hover { /*setter hover over register-now*/
background-image: url("../images/register-now-hover.png");
width:164px;
height: 48px;
}
